<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <section>
      <h1>{{ title }}</h1>
      <article>
        <p>Today is : {{ today }}</p>
        <p>Today is : {{ today  | date}}</p>
        <p>Today is : {{ today  | date:"fullDate"}}</p>
        <p>Today is : {{ today  | date:"medium"}}</p>
        <p>Today is : {{ today  | date:"shortDate"}}</p>
        <p>Today is : {{ today  | date:"hh:mm:ss"}}</p>
        <p>Today is : {{ today  | date:"yyyy-MM-dd"}}</p>
        <p>Today is : {{ today  | date:"yyyy/MM/dd"}}</p>
      </article>
      <hr>
      <article>
        <p>Currency is : {{ currency }}</p>
        <p>Currency is : {{ currency | currency : "USD" }}</p>  <!-- Dolar -->
        <p>Currency is : {{ currency | currency : "EUR"}}</p>  <!-- Euro -->
        <p>Currency is : {{ currency | currency : "EUR" : "symbol" : "1.1-4"}}</p>  <!-- Euro -->
        <p>Currency is : {{ currency | currency : "JPY"}}</p>  <!-- Yen -->
        <p>Currency is : {{ currency | currency : "CNY"}}</p>  <!-- Renminbi -->
        <p>Currency is : {{ currency | currency : "KRW"}}</p>  <!-- Won -->
        <p>Currency is : {{ currency | currency : "INR"}}</p>  <!-- Rupee -->
        <p>Currency is : {{ currency | currency : "GBP"}}</p>  <!-- Pound -->
        <p>Currency is : {{ currency | currency : "CAD"}}</p>  <!-- Dollar -->
        <p>Porcentaje of currency is : {{ currency | percent}}</p>
      </article>
    </section>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>
